.penpal-view-correspondence
  %h1= title

  %a.pure-button.button{:href => url("/penpal/#{penpal.id}")}
    %i.fa.fa-chevron-left
    = t(:'back')

  .pure-g
    .pure-u-1{:class => ReConnect.app_config['allow-outside-file-upload'] && 'pure-u-lg-3-4'}
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :enctype => 'multipart/form-data'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'penpal/view/correspondence/create/compose/section_title')

        = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'content', :editor_label => t(:'penpal/view/correspondence/create/compose/content_label'), :editor_data => content || ""}

        .y-margin= ""

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-upload
          = t(:'penpal/view/correspondence/create/compose/submit')

    - if ReConnect.app_config['allow-outside-file-upload']
      .pure-u-1.pure-u-lg-1-4
        %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :enctype => 'multipart/form-data', :action => url("/penpal/#{penpal.id}/correspondence/create/file")}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %h1= t(:'penpal/view/correspondence/create/file/section_title')
          %p= t(:'penpal/view/correspondence/create/file/content')

          %label{:for => "ul_file"}= t(:'penpal/view/correspondence/create/file/file_select')
          %input#ul_file{:name => 'file', :type => 'file', :required => true, :accept => '.pdf,application/pdf'}

          %button.pure-button.button{:type => 'submit'}
            %i.fa.fa-upload
            = t(:'penpal/view/correspondence/create/file/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
