.system-admin-configuration
  %h1= title

  .system-admin-configuration-actions.xy-margin
    %a.button.pure-button{:href => to('/system/configuration/keys')}
      %i.fa.fa-pencil
      = t :'system/configuration/key_value/title'

    %form{:method => "POST", :action => to('/system/configuration/refresh'), :style => 'display:inline-block'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %button.button.pure-button{:type => 'submit', :disabled => ReConnect.app_config_refresh_pending.empty?}
        %i.fa.fa-refresh
        - if ReConnect.app_config_refresh_pending.count.positive?
          = t(:'system/configuration/refresh_global_config/title_with_num_keys', :count => ReConnect.app_config_refresh_pending.count)
        - else 
          = t :'system/configuration/refresh_global_config/disabled'

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/configuration/quick_toggle/title')

        %ul.block-list
          - quick_toggles.each do |data|
            %li.system-admin-configuration-quick-toggle-entry{:'data-key' => data[:key], :'data-enabled' => data[:enabled] ? 'yes' : 'no'}
              %form.pure-form.pure-form-stacked.block-form{:method => 'POST', :action => to('/system/configuration/toggle')}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'key', :value => data[:key]}

                - if data[:enabled]
                  %button.pure-button.button{:type => 'submit', :class => [data[:button_classes][:disable]].compact}
                    = t(:'system/configuration/quick_toggle/disable')
                - else
                  %button.pure-button.button{:type => 'submit', :class => [data[:button_classes][:enable]].compact}
                    = t(:'system/configuration/quick_toggle/enable')

              .block-text
                - if data[:enabled]
                  = data[:text][:enabled]
                - else
                  = data[:text][:disabled]

                - if data[:pending_refresh]
                  = t(:'system/configuration/quick_toggle/pending_refresh')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/configuration/site_settings')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/site-org-name')}
          %i.fa.fa-pencil
          = t(:'system/configuration/site_org_name/title')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/mail')}
          %i.fa.fa-envelope
          = t(:'system/configuration/mail/title')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/filter')}
          %i.fa.fa-filter
          = t(:'system/configuration/filter/title')
