.system-admin-configuration
  %h1= title

  .system-admin-configuration-actions.xy-margin
    %a.button.pure-button{:href => to('/system/configuration/keys')}
      %i.fa.fa-pencil
      = t :'system/configuration/key_value/title'

    %a.button.pure-button{:href => to('/system/configuration/refresh')}
      %i.fa.fa-refresh= ""
      = t(:'system/configuration/refresh_global_config/title')

  - if !admin_profile_exists && has_role?("system:configuration:admin_penpal")
    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => url('/system/configuration/create-admin-penpal')}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'system/configuration/create_admin_penpal/title')
      %p= t(:'system/configuration/create_admin_penpal/content')

      %button.pure-button.button.button-success{:type => 'submit'}
        %i.fa.fa-user-plus= ""
        = t(:'system/configuration/create_admin_penpal/submit')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/configuration/quick_toggle/title')

        %ul.block-list
          - quick_toggles.each do |data|
            %li.system-admin-configuration-quick-toggle-entry{:'data-key' => data[:key], :'data-enabled' => data[:enabled] ? 'yes' : 'no'}
              %form.pure-form.pure-form-stacked.block-form{:method => 'POST', :action => to('/system/configuration/toggle')}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'key', :value => data[:key]}

                - if data[:enabled]
                  %button.pure-button.button{:type => 'submit', :class => [data[:button_classes][:disable]].compact}
                    = t(:'system/configuration/quick_toggle/disable')
                - else
                  %button.pure-button.button{:type => 'submit', :class => [data[:button_classes][:enable]].compact}
                    = t(:'system/configuration/quick_toggle/enable')

              .block-text
                - if data[:enabled]
                  = data[:text][:enabled]
                - else
                  = data[:text][:disabled]

                - if data[:pending_refresh]
                  = t(:'system/configuration/quick_toggle/pending_refresh')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/configuration/site_settings')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/site-org-name')}
          %i.fa.fa-pencil
          = t(:'system/configuration/site_org_name/title')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/mail')}
          %i.fa.fa-envelope
          = t(:'system/configuration/mail/title')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/filter')}
          %i.fa.fa-filter
          = t(:'system/configuration/filter/title')

        %a.pure-button.button.button-primary{:href => to('/system/configuration/announcements')}
          %i.fa.fa-bullhorn
          = t(:'system/configuration/announcements/title')
