.system-utilities-address-sticker-index
  %h1= t(:'system/utilities/address_sticker/title')

  - unless my_jobs.empty?
    .form-wrapped
      %h1= t(:'system/utilities/address_sticker/jobs/title')
      %table.pure-table.pure-table-bordered.pure-table-striped.full-width
        %thead
          %tr
            %th= ""
            %th= t(:'system/utilities/address_sticker/jobs/field_id')
            %th= t(:'system/utilities/address_sticker/jobs/field_date')
            %th= t(:'system/utilities/address_sticker/jobs/field_pagetype')

        %tbody
          - my_jobs.each do |job|
            %tr
              %td
                .inline-form
                  %a.pure-button.button{href: url("/system/utilities/address-sticker/job/#{job[:id]}"), class: [(job[:status] == 'ready' && 'button-success'), (job[:status] == 'error' && 'button-error')]}
                    - if job[:status] == 'ready'
                      %i.fa.fa-check= ""
                      %span= t(:'system/utilities/address_sticker/jobs/status_ready')
                    - elsif job[:status] == 'pending'
                      %i.fa.fa-hourglass-o= ""
                      %span= t(:'system/utilities/address_sticker/jobs/status_pending')
                    - elsif job[:status] == 'working'
                      %i.fa.fa-spin.fa-refresh= ""
                      %span= t(:'system/utilities/address_sticker/jobs/status_working')
                    - elsif job[:status] == 'error'
                      %i.fa.fa-warning= ""
                      %span= t(:'system/utilities/address_sticker/jobs/status_error')
                    - else
                      %i.fa.fa-question= ""
                      %span= t(:'system/utilities/address_sticker/jobs/status_unknown')

              %td
                %code&= job[:id]

              %td
                = t(:'timestamp/full', ts: job[:created])

              %td
                &= job[:page_type]

  .y-margin-large= ""

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %form.pure-form.form-wrapped.x-margin{method: 'POST', action: url('/system/utilities/address-sticker/create/-/search')}
        %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
        %h1= t(:'system/utilities/address_sticker/create_search/title')
        %p= t(:'system/utilities/address_sticker/create_search/content')

        %label{for: "search_query"}= t(:'system/utilities/address_sticker/create_search/field_query')
        %input#search_query{name: 'query', type: 'text', required: true}

        %button.pure-button.button.button-primary{type: 'submit'}
          %i.fa.fa-search= ""
          = t(:'system/utilities/address_sticker/create_search/submit')

    .pure-u-1.pure-u-md-1-2
      %form.pure-form.form-wrapped.x-margin{method: 'POST', action: url('/system/utilities/address-sticker/create/-/csv'), enctype: 'multipart/form-data'}
        %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
        %h1= t(:'system/utilities/address_sticker/csv_upload/title')
        %p= t(:'system/utilities/address_sticker/csv_upload/content')

        %label{for: "csv_file"}= t(:'system/utilities/address_sticker/csv_upload/field_file')
        %input#csv_file{name: 'file', type: 'file', required: true}

        %button.pure-button.button.button-primary{type: 'submit'}
          %i.fa.fa-upload= ""
          = t(:'system/utilities/address_sticker/csv_upload/submit')
