.account-settings-twofactor-recovery-codes
  %h1= t(:'account/twofactor')

  %a.pure-button.button{:href => "/account/twofactor"}
    %i.fa.fa-chevron-left
    = t(:'back')

  .form-wrapped
    %h1= title

    - if codes.length.zero?
      %p
        = t(:'account/twofactor/recovery/view/no_codes')

    - else
      %p
        = t(:'account/twofactor/recovery/view/preamble')

      %ul.twofactor-recovery-codes
        - codes.each do |t|
          %li
            %span.y-margin-large{:style => 'display:block'}
              - if t[:valid]
                %code.code-line
                  = t[:token]
              - else
                %code.code-line
                  %s= t[:token]
                %span= t(:'account/twofactor/recovery/view/code_used')

      %a.pure-button.button.button-primary{:href => "/account/twofactor/recovery?dl=1"}
        %i.fa.fa-download
        = t(:'account/twofactor/recovery/view/download')

    %form.pure-form.pure-form-stacked{:method => 'POST', :action => "/account/twofactor/recovery/regen"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %button.pure-button.button{:type =>  'submit'}
        %i.fa.fa-cog
        = t(:'account/twofactor/recovery/regen/submit')
