.holidaycard-write-compose-confirm
  .form-wrapped
    %h1= title
    %p= t(:'holidaycard/write/compose/confirm/content')

    .pure-g
      .pure-u-1.pure-u-md-1-3
        .holidaycard-write-cover-item.x-margin-large
          %img{src: cover.preview_url}

      .pure-u-1.pure-u-md-2-3
        .correspondence-html.rich-text-container.fw.x-margin-large
          != content

    .y-margin-large
      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'confirm', :value => '1'}
        %input{:type => 'hidden', :name => 'content', :value => content}
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope
          = t(:'holidaycard/write/compose/confirm/send')

      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'compose', :value => '1'}
        %input{:type => 'hidden', :name => 'content', :value => content}
        %button.pure-button.button{:type => 'submit'}
          %i.fa.fa-pencil
          = t(:'holidaycard/write/compose/confirm/edit')
