.holidaycard-write-compose
  %form.pure-form.pure-form-stacked.form-wrapped.x-margin{method: 'POST'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= title

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'content', :editor_label => t(:'penpal/view/correspondence/create/compose/content_label'), :editor_data => content || ""}
    .y-margin= ""

    %p= t(:'penpal/view/correspondence/create/profanity_warning')

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-upload
      = t(:'holidaycard/write/compose/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
