.penpal-view-correspondence
  %h1= title

  %a.pure-button.button{:href => url("/penpal/#{penpal.id}")}
    %i.fa.fa-chevron-left
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :enctype => 'multipart/form-data'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'penpal/view/correspondence/create/section_title')

    %label{:for => "content"}= t(:'penpal/view/correspondence/create/content_label')
    %textarea#content.rich-editor{:name => "content"}
      &= content || ""

    .y-margin= ""

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-upload
      = t(:'penpal/view/correspondence/create/submit')
