.penpal-view
  %h1= title

  %a.pure-button.button{:href => url("/")}
    %i.fa.fa-chevron-left
    = t(:'back')

  %a.pure-button.button.button-success{:href => url("/penpal/#{penpal.id}/correspondence/create")}
    %i.fa.fa-plus
    = t(:'penpal/view/correspondence/actions/create')

  .form-wrapped
    %h1= t(:'penpal/view/correspondence/section_title')

    - if correspondence.length.positive?
      %ul.block-list
        - correspondence.each do |c|
          %li
            %a{:href => url("/penpal/#{penpal.id}/correspondence/#{c[:id]}")}
              - if c[:this_user_sent]
                = t(:'penpal/view/correspondence/link_text/sent', :date => c[:creation])

              - else
                - unless c[:actioned]
                  %strong= t(:'penpal/view/correspondence/link_text/new')

                = t(:'penpal/view/correspondence/link_text/received', :date => c[:creation])

    - else
      = t(:'penpal/view/correspondence/no_correspondence')

