<p>Hello <%= penpal_receiving[:name][:first] %>,</p>

<p>
  You have new correspondence from your penpal,
  <strong><%= penpal_sending[:name][:pseudonym] %></strong>.
</p>

<%= helpers.button[link_to_correspondence, "View new correspondence"] %>

<p>
  If the above link does not work, copy and paste the following link into your
  browser:

  <a href="<%= link_to_correspondence %>"><%= link_to_correspondence %></a>
</p>

<p>Thanks for being a penpal!</p>
