<p>Hello,</p>

<p>New correspondence has been uploaded to <%= site_name %>, between the following penpals:</p>

<p>
  <strong><%= penpal_sending[:name][:joined] %></strong>
  <% if penpal_sending[:name][:pseudonym] %>(<em><%= penpal_sending[:name][:pseudonym] %></em>)<% end %>
  (ID <%= penpal_sending[:id] %>)

  and

  <strong><%= penpal_receiving[:name][:joined] %></strong>
  <% if penpal_receiving[:name][:pseudonym] %>(<em><%= penpal_receiving[:name][:pseudonym] %></em>)<% end %>
  (ID <%= penpal_receiving[:id] %>)
</p>

<% unless relationship_confirmed %>
  <p>
    <strong>This correspondence is in a relationship that is unconfirmed.</strong>
  </p>
<% end %>

<%= helpers.button[link_to_correspondence, "View new correspondence"] %>

<p>
  If the above link does not work, copy and paste the following link into your
  browser:

  <a href="<%= link_to_correspondence %>"><%= link_to_correspondence %></a>
</p>

<p>This is an automated email from <%= site_name %>.</p>
