.index-logged-in
  %h1= title

  - unless hcard_instances.empty?
    - hcard_instances.each do |hc|
      .message.message-success
        %span= t(hc[:data]["tl_banner"] ? hc[:data]["tl_banner"].to_sym : :'index/holidaycard/content', name: hc[:friendly])
        &nbsp;
        %a.pure-button.button{href: hc[:url]}
          %i.fa.fa-pencil= ""
          = t(:'index/holidaycard/write')

  - if can_send_to_waiting
    - unless ReConnect.app_config['disable-outside-correspondence-creation']
      %a.pure-button.button{:href => url("/penpal/waiting")}
        %i.fa.fa-pencil-square-o= ""
        = t(:'penpal/waiting/title')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'index/penpals/title')

        - if penpals.length.positive?
          %ul.block-list
            - penpals.each do |pp|
              %li
                %a{:href => url("/penpal/#{pp[:id]}")}
                  = pp[:name]

                - unless pp[:confirmed]
                  = t(:'unconfirmed')

        - else
          = t(:'index/penpals/no_penpals')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'index/new_correspondence/title')

        - if new_received.length.positive?
          %ul.block-list
            - new_received.each do |c|
              %li
                %a{:href => url("/penpal/#{c[:sending_penpal].id}/correspondence/#{c[:id]}")}
                  = t(:'index/new_correspondence/link_text', :name => c[:sending_penpal_name], :date => c[:creation])

        - else
          = t(:'index/new_correspondence/no_new')
