.system-admin-user-edit-profile
  %h1= title

  %a.pure-button.button{:href => "/system/user/#{user.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  - if user.soft_deleted
    .message.message-warning
      %i.fa.fa-trash= ""
      = t(:'system/user/soft_deleted')

  %form.pure-form.pure-form-stacked{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    .form-wrapped
      %h1= t(:'system/user/edit_profile/profile/section_title')

      %label{:for => "edit_first_name"}= t(:'name/first')
      %input#edit_first_name{:type => 'text', :name => 'first_name', :required => true, :placeholder => t(:'name/first'), :value => user_name_a.first}

      %label{:for => "edit_last_name"}= t(:'name/last')
      %input#edit_last_name{:type => 'text', :name => 'last_name', :required => true, :placeholder => t(:'name/last'), :value => user_name_a.last}

      %label{:for => "edit_pseudonym"}= t(:'pseudonym')
      %input#edit_pseudonym{:type => 'text', :name => 'pseudonym', :required => false, :placeholder => t(:'pseudonym'), :value => user_pseudonym_r}

      %label{:for => "edit_email"}= t(:'email_address')
      %input#edit_email{:type => 'email', :name => 'email', :required => true, :placeholder => t(:'email_address'), :value => user_email}

    .form-wrapped
      %h1= t(:'system/user/edit_profile/flags/section_title')
      
      %label{for: 'flag_disable_sending_to_waiting'}
        %input#flag_disable_sending_to_waiting{name: 'disable_sending_to_waiting', type: 'checkbox', checked: user_flags[:disable_sending_to_waiting]}
        = t(:'system/user/edit_profile/flags/disable_sending_to_waiting')

    .form-wrapped
      %h1= t(:'save_changes')

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-pencil
        = t(:'save_changes')
