.system-admin-user-view
  %h1= title

  %a.pure-button.button{:href => '/system/user'}
    %i.fa.fa-chevron-left
    = t(:'new_search')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/view/user_info')

        %ul
          - display_fields.each do |d|
            %li
              %strong= "#{d.first}:"
              %span
                &= d.last

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/actions')

        %a.pure-button.button{:href => "/system/user/#{user.id}/edit-profile"}
          %i.fa.fa-pencil
          = t(:'system/user/actions/edit_profile')

        %a.pure-button.button{:href => "/system/user/#{user.id}/roles", :disabled => true}
          %i.fa.fa-list-alt
          = t(:'system/user/actions/roles')

        %a.pure-button.button.button-warning{:href => "/system/user/#{user.id}/auth"}
          %i.fa.fa-lock
          = t(:'system/user/actions/auth_options')

        %a.pure-button.button.button-error{:href => "/system/user/#{user.id}/disable"}
          %i.fa.fa-remove
          = t(:'system/user/actions/disable_delete')
