.system-admin-mass-email
  %h1= title

  %p
    - if to_groups.first&.count&.positive?
      = t(:'system/mass_email/sending_to/groups', :groups => to_groups.last)
    - elsif penpal
      = t(:'system/mass_email/sending_to/penpal', penpal)
    - else
      = t(:'system/mass_email/sending_to/all')

  - if to_groups.first&.count&.positive? || penpal
    %a.pure-button.button{:href => '/system/mass-email'}
      %i.fa.fa-comments-o= ""
      = t(:'system/mass_email/switch/to_all')
  - else
    %a.pure-button.button{:href => '/system/mass-email?grp=vl'}
      %i.fa.fa-comments-o= ""
      = t(:'system/mass_email/switch/to_volunteers')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => url("/system/mass-email/confirm")}
    %h1= t(:'system/mass_email/section_title')
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    - if to_groups.first&.count&.positive?
      %input{:type => 'hidden', :name => 'grp', :value => to_groups&.first&.join(',')}
    - elsif penpal
      %input{:type => 'hidden', :name => 'ppid', :value => penpal[:id]}

    %label{:for => "email_subject"}= t(:'system/mass_email/subject')
    %input#email_subject{:type => 'text', :name => 'subject', :value => subject, :required => true}

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'content', :editor_label => t(:'system/mass_email/content'), :editor_data => content || ""}

    .y-margin= ""

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right=""
      = t(:'system/mass_email/continue_to_verify')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
