.auth-reset-new-password
  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %h1= t(:'auth/reset/title')
    %p= t(:'auth/reset/enter_new_password')

    %label{:for => "password"}= t(:'password')
    %input#password{:name => 'password', :type => 'password', :placeholder => t(:'password'), :required => true}

    %label{:for => "password_confirm"}= t(:'password/confirm')
    %input#password_confirm{:name => 'password_confirm', :type => 'password', :placeholder => t(:'password/confirm'), :required => true}

    %button.pure-button.button.button-primary{:type => 'submit'}= t(:'auth/reset/title')
