#system-admin-roster-index
  %h1= title

  %a.pure-button.button{:href => "/system/roster?start=#{(roster[:ts_start] - 5).strftime("%Y-%m-01")}"}
    %i.fa.fa-chevron-left= ""
    = t(:'system/roster/navigate/previous')

  %a.pure-button.button{:href => "/system/roster?start=#{(roster[:ts_end] + 5).strftime("%Y-%m-01")}"}
    %i.fa.fa-chevron-right= ""
    = t(:'system/roster/navigate/next')

  .form-wrapped
    %h1= t(:'system/roster/section_title', :start => roster[:ts_start])

    - if can_assign
      %p= t(:'system/roster/content/assign')
    - if can_override
      %p= t(:'system/roster/content/override')

    %ul#system-admin-roster-days.block-list
      - roster[:entries].each do |e|
        %li
          - if can_override || can_assign
            - disabled = e[:past] || !(e[:roster_entry].nil? && can_assign)
            %form.block-form{:method => 'POST', :action => '/system/roster'}
              - unless disabled
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'start', :value => roster[:ts_start].strftime("%Y-%m-%d")}
                %input{:type => 'hidden', :name => 'date', :value => e[:day].strftime("%Y-%m-%d")}

              %button.pure-button.button.block-button{:type => 'submit', :disabled => disabled}
                %i.fa.fa-pencil= ""

            - if can_override
              .block-form
                %a.pure-button.button.block-button{:href => "/system/roster/override/#{e[:day].strftime('%Y-%m-%d')}", :disabled => e[:past]}
                  %i.fa.fa-cog= ""

          %strong
            = succeed ': ' do
              &= e[:day_friendly]

          %span
            - if e[:roster_entry].nil?
              - unless e[:past]
                .system-admin-roster-unassigned-marker= ""
              = t(:'system/roster/assignment/unassigned')
  
            - else
              = t(:'system/roster/assignment/assigned', :name => e[:roster_entry].get_user_name)
