.system-admin-debugging-emailpreview
  %h1= title

  .form-wrapped
    %h1
      &= filename

    .rich-text-container
      = output

  .form-wrapped
    %h1= t(:'system/debugging/emailpreview/data_section_title')

    %ul.block-list
      - data.to_h.keys.each do |key|
        %li
          %code.code-line
            &= key

          = " => "

          %code.code-line
            &= data[key]
