.system-admin-penpal-relationship-correspondence-create
  %h1= title

  %a.pure-button.button{:href => "/system/penpal/relationship/#{relationship.id}/correspondence"}
    %i.fa.fa-chevron-left
    = t(:'back')

  %a.pure-button.button.button-primary{:href => "/system/penpal/relationship/#{relationship.id}/correspondence/create/text?archive=#{archive_mode ? 1 : 0}"}
    %i.fa.fa-file-text-o
    = t(:'system/penpal/relationship/correspondence/create/to_text')

  %a.pure-button.button{:href => url("/system/penpal/relationship/#{relationship.id}/correspondence/create?archive=#{archive_mode ? 0 : 1}")}
    %i.fa.fa-book
    - if archive_mode
      = t(:'system/penpal/relationship/correspondence/create/archive_mode/disable')
    - else
      = t(:'system/penpal/relationship/correspondence/create/archive_mode/enable')

  - if archive_mode
    .message.message-warning
      = t(:'system/penpal/relationship/correspondence/create/archive_mode/warning')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :enctype => 'multipart/form-data'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/penpal/relationship/correspondence/create/section_title')

    %label{:for => "direction"}= t(:'system/penpal/relationship/correspondence/create/direction')
    %select#direction{:name => 'direction'}
      %option{:value => "1to2"}
        = t(:'system/penpal/relationship/correspondence/create/direction_text', :one_name => penpal_one_name, :two_name => penpal_two_name)
      %option{:value => "2to1"}
        = t(:'system/penpal/relationship/correspondence/create/direction_text', :one_name => penpal_two_name, :two_name => penpal_one_name)

    %label{:for => "ul_file"}= t(:'system/penpal/relationship/correspondence/create/form_file')
    %input#ul_file{:name => 'file', :type => 'file', :required => true}

    - if archive_mode
      %label{:for => 'ul_date'}= t(:'system/penpal/relationship/correspondence/create/date')
      %input#ul_date{:type => 'date', :name => 'date', :required => true, :value => ul_date&.strftime("%Y-%m-%d")}

    %button.pure-button.button.button-primary{:type => 'submit'}
      = t(:'system/penpal/relationship/correspondence/create/submit')
