%ul
  - penpal[:display_fields].each do |f|
    %li
      %strong= "#{f.first}: "
      = f.last

%a.pure-button.button{:href => "/system/penpal/#{penpal[:id]}"}
  %i.fa.fa-user
  = t(:'system/penpal/relationships/penpal/jump_to_penpal')
