.system-admin-penpal-delete
  %h1= title

  %a.pure-button.button{:href => "/system/penpal/#{penpal.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/penpal/delete/section_title')

    %p
      = t(:'system/penpal/delete/content/delete_all_data')

    - if user
      %p
        = t(:'system/penpal/delete/content/remove_association', :user_name => user_name, :user_id => user.id)

    %label{:for => 'confirm'}
      %input#confirm{:type => 'checkbox', :name => 'confirm', :required => true}
      = t(:'system/penpal/delete/confirm')

    %button.pure-button.button.button-error{:type => 'submit'}
      %i.fa.fa-trash
      = t(:'system/penpal/delete/submit')
