.system-admin-penpal-index
  %h1= title

  %a.pure-button.button.button-success{:href => "/system/penpal/create"}
    %i.fa.fa-plus
    = t(:'system/penpal/create/submit')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/penpal/by-id'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/penpal/find_by_id')

        %label{:for => 'penpal_id'}= t(:'penpal_id')
        %input#user_id{:type => 'number', :name => 'id', :required => true, :placeholder => t(:'penpal_id')}

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-search
          = t(:search)

    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/penpal/by-name'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/penpal/find_by_name')

        %label{:for => 'penpal_name'}= t(:'name')
        %input#user_email{:type => 'text', :name => 'name', :required => true, :placeholder => t(:'name'), :disabled => true}

        %button.pure-button.button.button-primary{:type => 'submit', :disabled => true}
          %i.fa.fa-search
          = t(:search)
