.system-admin-penpal-relationships
  %h1= title

  %a.pure-button.button{:href => "/system/penpal/#{penpal.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  - if relationships.empty?
    .message.message-warning
      = t(:'system/penpal/relationships/empty')

  - else
    %ul.block-list
      - relationships.each do |r|
        %li
          %strong= name
          and
          %a{:href => "/system/penpal/#{r[:other_party][:id]}"}
            %strong= "#{r[:other_party][:name]} [#{r[:other_party][:id]}]"
