.auth-login-twofactor-recovery
  .form-wrapped
    %h1= title

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p
        = t(:'auth/login/twofactor/recovery/content')

      %label{:for => "code"}= t(:'auth/login/twofactor/recovery/code')
      %input#code{:name => 'code', :type => 'text', :required => true, :placeholder => t(:'auth/login/twofactor/recovery/code')}

      %button.pure-button.button.button-primary{:type => 'submit'}
        = t(:'auth/login/title')

      .auth-twofactor-options
        %a{:href => to('/auth/twofactor')}
          = t(:'auth/login/twofactor/actions/use_totp_u2f')
